USE [master]
GO
/****** Object:  Database [BD_Aeropuertos]    Script Date: 7/22/2022 1:40:29 PM ******/
CREATE DATABASE [BD_Aeropuertos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Aeropuertos', FILENAME = N'/var/opt/mssql/data/BD_Aeropuertos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Aeropuertos_log', FILENAME = N'/var/opt/mssql/data/BD_Aeropuertos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Aeropuertos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Aeropuertos]
GO
/****** Object:  Table [dbo].[Aeropuertos]    Script Date: 7/22/2022 1:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeropuertos](
	[AeropuertoID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NULL,
	[codAeropuerto] [varchar](5) NULL,
	[DistanciaKM] [real] NULL,
	[FK_CiudadID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AeropuertoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 7/22/2022 1:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CiudadID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[HabCiudad_M] [real] NULL,
	[FK_PaisID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 7/22/2022 1:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[PaisID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[HabPais_M] [real] NULL,
	[PerteneceUE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aeropuertos]  WITH CHECK ADD  CONSTRAINT [Aeropuerto_Ciudad] FOREIGN KEY([FK_CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Aeropuertos] CHECK CONSTRAINT [Aeropuerto_Ciudad]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [Ciudad_Pais] FOREIGN KEY([FK_PaisID])
REFERENCES [dbo].[Paises] ([PaisID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [Ciudad_Pais]
GO
USE [master]
GO
