USE [master]
GO
/****** Object:  Database [BD_Ordenes]    Script Date: 7/22/2022 1:52:44 PM ******/
CREATE DATABASE [BD_Ordenes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Ordenes', FILENAME = N'/var/opt/mssql/data/BD_Ordenes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Ordenes_log', FILENAME = N'/var/opt/mssql/data/BD_Ordenes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Ordenes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Ordenes]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 7/22/2022 1:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[ArticuloID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Precio] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cantidades]    Script Date: 7/22/2022 1:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantidades](
	[CantidadID] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NULL,
	[FK_OrdenID] [int] NULL,
	[FK_ArticuloID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CantidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 7/22/2022 1:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 7/22/2022 1:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[OrdenID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[FK_ClienteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cantidades]  WITH CHECK ADD  CONSTRAINT [Cantidad_Articulo] FOREIGN KEY([FK_ArticuloID])
REFERENCES [dbo].[Articulos] ([ArticuloID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cantidades] CHECK CONSTRAINT [Cantidad_Articulo]
GO
ALTER TABLE [dbo].[Cantidades]  WITH CHECK ADD  CONSTRAINT [Cantidad_Orden] FOREIGN KEY([FK_OrdenID])
REFERENCES [dbo].[Ordenes] ([OrdenID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cantidades] CHECK CONSTRAINT [Cantidad_Orden]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [Orden_Cliente] FOREIGN KEY([FK_ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [Orden_Cliente]
GO
USE [master]
GO
